.livro-form {
  margin: 20px 0;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  gap: 8px; /* Espaço entre os botões */
}

.livro-table {
  width: 100%; /* A tabela ocupará toda a largura disponível */
  margin-top: 20px; /* Espaço acima da tabela */
}

.mat-header-cell, .mat-cell {
  padding: 16px; /* Adiciona padding para melhor espaçamento */
}

.mat-header-cell {
  background-color: #f5f5f5; /* Cor de fundo para cabeçalho */
}

.mat-cell {
  background-color: #fff; /* Cor de fundo para células */
}
